/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Body styles */
body {
  background: rgb(226, 226, 226);
}

/* Navigation styles */
nav {
  position: sticky;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  width: 90px;
  background: #fff;
  overflow: hidden;
  transition: 1s; /* Specify the property to transition */
}

nav ul{
    height: 88%;
position: relative;
}

nav:hover {
  width: 310px;
}

.logo {
  text-align: left;
  display: flex;
}

.logo img {
  width: 45px;
  height: 45px;
  margin-left: 10px;
  border-radius: 50%;
}

.logo span {
  font-weight: bold;
  padding-left: 15px;
  font-size: 20px;
  text-transform: uppercase;
}

.logo:hover {
    background: #34AF6D;
    color: #fff;
    transition: 0.5s;
  }

a {
  position: relative;
  width: 280px;
  font-size: 14px;
  color: rgb(85, 83, 83);
  display: table;
  padding: 10px;
}

nav .fas {
  position: relative;
  width: 70px;
  height: 40px;
  top: 10px;
  font-size: 20px;
  text-align: center;
}

.nav-item {
  position: relative;
  top: 10px;
  margin-left: 10px;
}

a:hover {
    background: #eee;
}

a:hover i {
  color: #34AF6D;
  transition: 0.5s;
}

.logout {
  position: absolute;
  bottom: 0;
}

.container {
  display: flex;
}

/* Main Section */
.main {
  position: relative;
  padding: 10px;
  width: 100%;
}

.main-top {
    text-align: center;
    padding-top: 5px;
    font-size: large;
    width: 100%;
    height: 8%;
    background: #34AF6D;
    color: #fff;
    border-radius: 10px;
}

.main .users {
  display: flex;
  width: 100%;
}

.users .card {
  width: 100%;
  margin: 10px;
  background: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.users .card img {
  width: 70px;
  height: 70px;
}

.users .card a{
  padding: 6px 20px;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #4AD489;
}

.users .card a:hover {
  background: #4AD489;
  color: #fff;
  transition: 0.5s;
}

.users .card h4 {
  text-transform: uppercase;
}

.users .card p {
  font-size: 12px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.users table {
  margin: auto;
}

.users td {
  font-size: 14px;
  padding-right: 15px;
}

.users .card a {
  width: 100%;
  margin-top: 8px;
  padding: 7px;
  cursor: pointer;
  border-radius: 10px;
  background: transparent;
  border: 1px solid #4AD489;
}

.users .card button:hover {
  background: #4AD489;
  color: #fff;
  transition: 0.5s;
}

/* Attendance List section */
.attendance {
  margin-top: 20px;
  text-transform: uppercase; /* Corrected from capitalize to uppercase */
}

.attendance-list {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 15px;
  min-width: 100%;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

table thead tr {
  color: #fff;
  background: #34AF6D;
  text-align: center;
  font-weight: bold;
}

.table th,
.table td {
  padding: 12px 15px;
  text-align: center;
}

.table tbody tr {
  border-bottom: 1px solid #ddd;
}

.table tbody tr:first-of-type{
  border-top: 2px solid #4AD489;
}

.table tbody tr:last-of-type{
  border-bottom: 2px solid #4AD489;
}

.table tbody tr:nth-of-type(odd) {
  background: #f3f3f3;
}


.table button {
  padding: 6px 20px;
  border-radius: 10px;
  width: 100px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #4AD489;
}

.table button a{
    width: 30px;
   
  }

.table button:hover {
  background: #4AD489;
  transition: 0.5s;
}

.container-2 {
  width: 80%;
  margin: 30px auto;
  border-radius: 15px;
  display: flex;
  background-color:#fff;
  box-shadow: 5px 5px 10px rgb(152, 237, 176), -5px -5px 10px rgb(89, 230, 155);
}
.container-2 h1 {
  padding: 20px;
  color: #000;;
}
.container-2 p {
    font-size: 15px;
  margin-left: 20px;
  color: #000;
}
.container-2 img {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 20px;
  width: 250px;
}
.icons {
  display: flex;
  text-align: center;
  margin: 15px 0px 0px 250px;
}
.icons img {
  width: 25px;
  height: 25px;
  border-radius: 20%;
  cursor: pointer;
}
.icons img:hover {
  padding: 5px;
  transition: 0.5s;
}

input {
    width: 250px;
    background: transparent;
  }